extends layout

block content
  div.row#mainHeader.panel.vcenter
      div.col-lg-12
        h3.panel-heading inDrops Control Panel
      div.col-lg-12#pcHeader.panel.vcenter
        h4.panel-title.panel-heading.vcenter PumpControls
        div.row
        form
            div.col-lg-8#pcTableBlock.panel.vcenter
                table.table.panel-body
                    thead
                        tr
                        th
                        each pump in pumps
                            th #{pump.pump_name}
                    tr
                        td Diam(mm)
                        each pump in pumps
                            td
                                input.diamChange.form-control(id = pump.pump_name + 'Syringe' name=pump.pump_name value= pump.syringe_diam,disabled)
                    tr
                        td Rate (ul/L)
                        each pump in pumps
                            td
                                input.rateChange.form-control(id= pump.pump_name + 'Rate', name = pump.pump_name, type='text', value=pump.default_rate)
                    tr
                        td Acc Vol(ul)
                        each pump in pumps
                            td
                                input(id=pump.pump_name + "accVol" readonly).form-control
                                button(type="button",name=pump.pump_name).volClear Clear Volume
                    tr
                        td
                        each pump in pumps
                            td
                                input.BSswitch(name=pump.pump_name, type='checkbox',data-off-text='Stopped',data-on-text='Running',data-on-color='success',data-off-color='danger',checked)
                    tr(style=displayForAdmin)
                        td
                        each pump in pumps
                            td
                                button(type="button",name= pump.pump_name).pumpDelete Delete
        div.col-lg-3.panel.vcenter#runMode
            div.panel-body.vcenter
                h4.panel-heading Run mode:
                form#runModeGroup
                each mode in modes
                    div.radio
                        - var getToolTip = function(modeName){
                        -   return pumpModeRates.filter(function(pumpModeRate){return pumpModeRate.modeModeName==modeName}).reduce( (prev,curr) => prev + " " + curr.pumpPumpName + ": " + curr.rate , "")
                        - }
                        label(title="#{getToolTip(mode.mode_name)}")
                            input(type='radio',name='runMode' value=mode.mode_name,style='height:20px; width:20px; vertical-align: middle;')
                            |#{mode.mode_name}
                        label(style=displayForAdmin)
                            button(type="button" name=mode.mode_name).modeDelete Delete
                div.col-xs-12.text-center
                        div.col-xs-1.text-center
                        div.col-xs-10.text-center
                            button(type='button',id='pauseResume').red Pause All
                            button(type='button',id='switchCellPump') Switch Cell Pump
                div.col-xs-1.text-center
                div.col-xs-1.text-center
                    h4 &nbsp
        div.col-lg-12#stirrerSliderRow
            div.col-xs-8
                input(id='stirrer',type='text',data-slider-min='29',data-slider-max='255',data-slider-step='1',data-slider-value='29')
                span#stirrerCurrentSliderValLabel &nbspMotor speed (rpm):
                    span#stirrerSliderVal 30
        div.col-lg-12#stirrrRowSpace
    
    div.col-lg-3#mainHeader.panel(style=displayForAdmin)
        h4.panel-heading Add Pump
        div.col-lg-12#pcHeader.panel
            form#pumpAdditionForm
                div.input-group
                    span.input-group-addon Pump Name
                    input(type='text',name='pumpName').form-control
                div.input-group
                    span.input-group-addon Driver Code
                    input(type='text',name='driverCode').form-control
                div.input-group
                    span.input-group-addon Syringe Diameter
                    input(type='text',name='syringeDiam').form-control
                div.input-group
                    span.input-group-addon Default Rate
                    input(type='text',name='defaultRate').form-control
                div.col-xs-10.text-center
                    input(type='submit', value='Add New Pump')
    td(style=displayForAdmin)
    div.col-lg-8#mainHeader.panel(style=displayForAdmin)
        h4 Add Run Mode
        div.col-lg-12#pcHeader.panel
            form#runModeAdditionForm.form-group
                div.input-group
                    span.input-group-addon Run Mode Name:
                    input(type='text' name='runModeName').form-control
                span
                span
                h4 Pumps:
                each pump in pumps
                    div.input-group
                        span #{pump.pump_name}
                        input(type='checkbox',name= pump.pump_name)
                        span Rate(ul/L)
                        input(type='text', name= pump.pump_name + 'Rate')
                input(type='submit',value='Add new run mode')
    script(src="/uiJs.js")  
     